/*stylesheet*/
/* vars */

:root {
	background-color: lightyellow;
	body-color: ;
}

body {
	font-family: bubblegum-pop-vanilla,sans-serif;
	font-weight: 400;
	font-style: normal;
}

p {
  font-family: chantal,sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 3em;
}

#wrapper {
	margin: 0 auto;
}

.container {
	position: absolute;
  text-align: center;
align-items: center;
  width: 500px;
  height: 500px;
  background: brown;
  animation: ;
  animation-delay: 15s;
}

.top-center {
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40pt;
  color: darkgreen;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  text-align: center;
  width: 442.500px;
  height: 121px;
}

.box {
  position: absolute;
}

.center {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20pt;
  color: darkgreen;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.bottom-center {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25pt;
 color: darkgreen;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.bottom2-center {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25pt;
  color: darkgreen;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.bottom1-center {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25pt;
  text-align: center;
  width: 700px;
  height: 41px;
  color: white;
}

.inner {
  position: relative;
}

.point {
  position: absolute;
  top: 56%;
  left: 48%;
  transform: translate(-50%, -50%);
}

.point1 {
  position: absolute;
  top: 70%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.point2 {
  position: absolute;
  top: 305%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.pop-up {
  position: absolute;
  bottom: 8em;
  font-size: 10pt;
  text-align: center;
  width: 90%;
  margin-left: 5em;
  margin-right: 5em;
  color: white;
}



.bottom3-center {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25pt;
  text-align: center;
  color: white;
}

.link:hover { 
  color: #ffffff; 
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*background: linear-gradient(to bottom, rgba(1, 1, 1, 0.8), rgba(1, 1, 1, 0.2));*/
  background: transparent;
}

.hero-slider {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.hero-slider .carousel-cell {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-slider .carousel-cell .inner {
  position: relative;
  width: 100%;
  height: 100vh;
  color: white;
  text-align: center;
}

.hero-slider .flickity-prev-next-button {
  width: 80px;
  height: 80px;
  background: transparent;
}
.hero-slider .flickity-prev-next-button:hover {
  background: transparent;
}
.hero-slider .flickity-prev-next-button .arrow {
  fill: black;
}
.hero-slider .flickity-page-dots {
  bottom: 30px;
}
.hero-slider .flickity-page-dots .dot {
  width: 30px;
  height: 4px;
  opacity: 1;
  background: rgba(255, 255, 255, 0.5);
  border: 0 solid white;
  border-radius: 0;
}
.hero-slider .flickity-page-dots .dot.is-selected {
  background: darkgreen;
  border: 0 solid darkgreen;
}



