/*stylesheet*/
/* vars */

:root {
	background-color: lightyellow;
	body-color: blue;
}

Body {
	margin: 1rem;
	color: white;
	background-color:var(body-color);
	font-size: ;
	text-align: ;
}

#wrapper {
	margin: 0 auto;
	max-width: 1200px;
}